
.svelte-flow {
    --xy-edge-stroke-default: #333;
    --xy-edge-stroke-width-default: 2;
    --xy-connectionline-stroke-default: #333;
    --xy-connectionline-stroke-width-default: 2;
}

.svelte-flow[role="application"] {
    height: 100%;
}